{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Get the latest news from the most trusted sources</h1>
    </div>
</div>


<!-- homepage section -->
<div class="container wrapper scroll">
    <div class="row" id="general">
        <div class="category col-md-12">
            <h4 class="source_title">General News</h4>
            <ul>
                {{macro.displayNewsourceList(general)}}
            </ul>
        </div>
    </div>
</div>
{% endblock%}